link(rel='stylesheet', href='/style.css')
link(rel="stylesheet",href="/clearfix.css")

body
  header(class="cf")
    div(class="logo")
      a(href="/")
        img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
    p
  section(class="main")
    h1 #{catname}

    div(class="itemspace")
      h2 Welcome to mantronic
    
  script(src='/jquery-1.11.3.js')

  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}";
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions;
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();
    
    var user = "#{username}";
    var permissions = "#{permissions}"

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }
    
    if(creds.getPermissions() == '' || creds.getPermissions() == undefined){
      var $a = $("<a>").attr("href","/login").text("Login as user");
      $(".login").append($a);
    } else {
      var $span = $("<span>").text("Welcome, " + creds.getUser());
      var $a = $("<a>").attr("href","/logout").attr("class","logout").text("Log out");
      $(".login").append($span, $a);
    }
    $(window).bind("beforeunload",function(){
      var currentAuth = {};
      currentAuth.user = creds.getUser();
      currentAuth.permissions = creds.getPermissions();
      currentAuth.sessionStart = creds.getTimestamp();
      $.ajax({
        type:'POST',
        url:"http://localhost:3000/userstat",
        data:JSON.stringify(currentAuth),
        contentType:"application/json",
        success: function(res){
          console.log(res);
          complete();
        },
        fail: function(fail){
          console.log(fail);
        }
      });
    });

    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://localhost:3000/getcategories',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        for(var i = 0; i < res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
        }
      }
    })
    
    function appendp(name, numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".sidebar").append($p);
    }

  script(src='/js/home.js')