link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")

body

  header(class="cf")
    div(class="logo")
      a(href="/")
        img(src="../../uploads/staticpics/logo.png")
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")
    h1 #{catname}

    div(class="itemspace")
      h2 Listing all #{catname} items



  script(src="/jquery-1.11.3.js")

  script.
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://localhost:3000/getcategories',
      dataType:'JSON',
      success: function(res){
        for(var i = 0; i< res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
        }
      }
    })
    function appendp(name,numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".sidebar").append($p);
    }
    
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://localhost:3000/getitems/#{catnumb}',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        items = res;
        for(var i = 0; i < items.length; i++){
          appendItem(i,items[i].itemname,items[i].itempicture1,items[i].itemnumb);
        }
      }
    })

    function appendItem(number,title,picture,itemNumb){
      var $div = $("<div>").attr('class','item'+number);
      var $h3 = $("<h3>").text(title);
      var $img = $("<img>").attr('src',"../../uploads/"+picture+".jpg");
      var $atitle = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      var $apic = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      $atitle.append($h3);
      $apic.append($img);
      $div.append($atitle,$apic);
      $(".itemspace").append($div);
    }