link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")


body
  
  header(class="cf")
    div(class="logo")
      a(href="/")
        img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")
    h1 #{catname}

    div(class="itemspace")
      h2 Listing all #{catname} items



  script(src="/jquery-1.11.3.js")
  script(src="/config.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }

  script(src='/build.js')
  
  script.  
    var categories = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getcategories',
      dataType:'JSON',
      success: function(res){
        for(var i = 0; i< res.length; i++){
          appendp(res[i].catname,res[i].catnumb);
        }
      }
    })
    function appendp(name,numb){
      var $a = $("<a>").text(name).attr("href","/category/"+numb+"/products");
      var $p = $("<p>").append($a);
      $(".sidebar").append($p);
    }
    
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getitems/#{catnumb}',
      dataType:'JSON',
      success: function(res){
        console.log(res);
        items = res;
        for(var i = 0; i < items.length; i++){
          appendItem(i,items[i].itemname,items[i].itempicture1,items[i].itemnumb,items[i].itemdesc,items[i].price,items[i].currency);
        }
      }
    })

    function appendItem(number,title,picture,itemNumb,itemDesc,price,currency){
      var $div = $("<div>").attr('class','item'+number);
      var $h3 = $("<h3>").text(title);
      var $img = $("<img>").attr('src',"../../uploads/"+picture+".jpg");
      var $atitle = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      var $apic = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      var $pDesc = $("<p>").text(itemDesc).addClass("shortDesc");
      var priceText = ' ';
      if(price !== null){
        priceText = currency+price;
      }  
      var $pPrice = $("<p>").text(priceText).addClass("itemPrice");
      $atitle.append($h3);
      $apic.append($img);
      $div.append($apic,$atitle,$pDesc);
      if(creds.getPermissions() !== ''){
        $div.append($pPrice);
      }
      $(".itemspace").append($div);
    }