link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")


body
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main cf")
    h1 #{catname}

    div(class="itemspace")
      h2 Listing all #{catname} items

  footer
    p Copyright

  script(src="/jquery-1.11.3.js")
  script(src="/config.js")
  script(src="/logoStill.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

  script(src='/build.js')
  script(src='/categories.js')
  
  script.      
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getitems/#{catnumb}',
      dataType:'JSON',
      success: function(res){
        // console.log(res);
        items = res;
        items.sort(function(a,b){
          if(a.itemid.toUpperCase() > b.itemid.toUpperCase()){
            return 1;
          }
          if(a.itemid.toUpperCase() > b.itemid.toUpperCase()){
            return -1;
          }
          return 0;
        });
        for(var i = 0; i < items.length; i++){
          appendItem(i,items[i].itemname,items[i].itempicture1,items[i].itemnumb,items[i].itemdesc,items[i].price,items[i].currency);
        }
      }
    })

    function appendItem(number,title,picture,itemNumb,itemDesc,price,currency){
      var $div = $("<div>").attr('class','item'+number).addClass("item");
      var $divText = $("<div>").attr("class","divText");
      var $h3 = $("<h3>").text(title);
      if(picture !== 'none'){
        var $img = $("<img>").attr('src',"../../uploads/"+picture+".jpg");
      }
      var $atitle = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      var $apic = $("<a>").attr('href',"/category/#{catnumb}/products/"+itemNumb);
      var $pDesc = $("<p>").text(itemDesc).addClass("shortDesc");
      var priceText = ' ';
      if(price !== null && price > 0){
        priceText = '$'+price;
      }  
      var $pPrice = $("<p>").text(priceText).addClass("itemPrice");
      $atitle.append($h3);
      $apic.append($img);
      $divText.append($atitle,$pDesc);
      if(creds.getPermissions() !== ''){
        $divText.append($pPrice);
      }
      $div.append($apic,$divText);
      $(".itemspace").append($div);
      var width = $(".item"+number).width();
      // $(".item"+number).css({'height': width + "px"});
    }

  script(src='/close.js')