link(rel="stylesheet",href="/style.css")
link(rel="stylesheet",href="/clearfix.css")


body
  
  header(class="cf")
    div(class="logo")
      // a(href="/")
        // img(src="../../../uploads/staticpics/logo.png")

    p(class="login")
      
    div(class="toolbar")
      ul
        li
          a(href="/") Home
        li
          a(href="/business") Our business
        li
          a(href="/contact") Contact Us
        li
          a(href="/support") RMA/Support

  section(class="sidebar")
  
  section(class="main")

    div(class="singleItem")
      h2 #{itemname}



  script(src="/jquery-1.11.3.js")
  script(src="/config.js")
  script(src="/logoStill.js")
  script.
    function cred(){
      var auth = {};
      return {
        setCred: function(){
          auth.user = "#{username}";
          auth.permissions = "#{permissions}";
          auth.timestamp = "#{sessionStart}"
          return auth;
        },
        getUser: function(){
          return auth.user;
        },
        getPermissions: function(){
          return auth.permissions
        },
        getTimestamp: function(){
          return auth.timestamp;
        }
      }
    }
    var creds = cred();
    creds.setCred();

    function cPanel(){
      var $ul = $("<ul>");
      var $a = $("<a>").text("Admin Panel").attr("href","/admin");
    }

  script(src='/build.js')
  script(src='/categories.js')  
  script.  
    var items = [];
    $.ajax({
      type:'GET',
      url:'http://'+serverIP+'/getitem/#{itemnumb}',
      dataType:'JSON',
      success: function(res){
        $.ajax({
          type:"GET",
          dataType:"JSON",
          url:"http://"+serverIP+"/items/retrieveclearance",
          success: function(response){
            console.log(response);
            var clearance = 0;
            items = res;
            for(var i = 0; i < response.length; i++){
              if(response[i].itemnumb == items.itemnumb){
                clearance = response[i].newprice;
              }
            }
            console.log(clearance);
            appendItem(items.itemname,items.itempicture1,items.itemnumb,items.itemdesc,items.itemdesclong,items.newdesclong,items.price,clearance,items.currency,items.itemid);
          }
        })
      }
    });

    function appendItem(title,picture,itemNumb,itemDesc,itemDescLong,newDescLong,price,newprice,currency,itemid){
      console.log(title,picture,itemNumb,itemDesc,price,currency);
      var $div = $("<div>").attr('class','item');
      var $h3 = $("<h3>");
      var $spanTitle = $("<span>").text("Item Code: ");
      var $spanId = $("<span>").text(itemid).css({"color":"red"});
      var $img = $("<img>").attr('src',"../../../uploads/"+picture+".jpg");
      var $apic = $("<a>").attr('href',"../../../uploads/"+picture+".jpg");
      var $pDesc = $("<p>").text(itemDescLong).addClass("longDesc");
      var priceText = ' ';
      if(price !== null && price > 0) {
        priceText = currency+price;
      }
      var $pPrice = '';
      if(newprice > 0){
        console.log(1);
        var $text = $("<span>").text("Unit Price: $")
        var $oldPrice = $("<strike>").text(priceText+" ");
        var $newPrice = $("<span>").text("$"+newprice).css({"color":"red"});
        $pPrice = $("<p>").append($text,$oldPrice,$newPrice).addClass("itemPrice");
      } else {
        $pPrice = $("<p>").text("Unit Price: $"+priceText).addClass("itemPrice");
      }
      $apic.append($img);
      $h3.append($spanTitle,$spanId);
      $div.append($apic,$h3,$pDesc);
      if(creds.getPermissions() !== ''){
        $div.append($pPrice);
      }
      $(".singleItem").append($div);
    }

  script(src='/close.js')